<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="cuba-example-user-messaging"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.ceum.entity.Message</class>
        <class>com.company.ceum.entity.MessageText</class>
    </persistence-unit>
</persistence>
